{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <center>
            <h1>Welcome</h1>
            <p>Upload an image and let us tell you what it is about. Well, who said machine can't behave like a human.</p>
            </center>
        </div>
    </div>
</div>

<form action="/upload_pic/" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <center>
    <label class="btn btn-lg btn-primary btn-file">
        Upload Image <input id="id_image" type="file" class="" name="image" accept=".jpg,.jpeg" style="display: none;">
    </label>
    <br>
    <br>
    <button type="submit" class="btn btnSubmit btn-default">Submit</button>
    </center>
</form>

{% endblock %}